/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-inline-size: 375px;
  margin: 0;
  color:var(--text-color,#F1B2CE);
  background-color:var(--bg-color, #000028);
  font-family: var(----main-font, IBM Plex Mono, sans-serif);
  background-image: var(--bg-image, url(/images/cover-image-dark.png));
  background-position: center;
  inline-size: 100%;
  background-attachment: fixed;
}

.header {
  box-sizing: border-box;
  width: 100%;
  min-height: 668px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end:10px;
  display: grid;
  align-items: start;
  position: relative;
}


.decoration {
  font-size: var(--font-size-text, 18px);
  line-height: 25%;
  color: var(--accent-color, #FF0070);
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  justify-self: end;
  right: 16px;
  top: 16px;
}


.decoration::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color,#FF0070);
  filter: blur(1.5px);
  margin-inline-start: 10px;
}


.decorated-zone {
  position: relative;
}

.decorated-zone::before { 
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color,#FF0070);
  border-top: 1px solid var(--accent-color,#FF0070);
  right: 10px;
  top:10px;
}


.decorated-zone::after { 
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color,#FF0070);
  border-bottom: 1px solid var(--accent-color,#FF0070);
  left: 10px;
  bottom: 10px;
}


.header__theme-menu {
  justify-self: end;
  padding: 1.5px 13px 1.5px 13px;
  margin-block-start: 47px;
}


.header__theme-menu-list {
list-style: none;
display: flex;
flex-direction: column;
gap: 13px;
}

.header__theme-menu-button {
  font-size: 18px;
  text-transform: lowercase;
  color: var(--accent-color, #FF0070);
  background-color:inherit;
  border: none;
}

.header__theme-menu-button:default {
  outline: 0.5px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 0.5px solid var(--accent-color);

}

.header__theme-menu-button:focus-visible {
  outline:none;
  text-decoration: underline;
  text-underline-offset:4px; ;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color, #DB00FF);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color,#FF0070);
  margin-block-end: 0;
  margin-block-start: 0;
  align-self: center;
}

.header__text {
  margin-block-start: 55px;
  margin-block-end:30px;
  letter-spacing: 23.4; 
}

.title-decor {
  font-size: 18px;
  background-color: var(--accent-color);
  font-weight: var(--accent-font, 800);
  color: var(--accent-color-text, #000028);
}

.content {
  margin-block-start: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 50px;
}



.section__list { 
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap:20px;
  
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 9px;
}


.section__title{
  font-size: 18px;
  color: var(--accent-color, #FF0070);
  margin-block: 0;
}

.section__subtitle {
  margin-block: 0;
}

.section__text {
  font-size: 18px;
  margin-block: 0;
}

.section__description {
  margin-block:0 ;
}

.section__link {
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.section__link:default {

}

.section__link:hover {
text-decoration: underline;

}
.section__link:focus{
  outline:none;
}

.section__link:focus-visible {
text-decoration:none;
outline: 1px solid var(--accent-color);
}

.section__galery {
  display: grid;
  row-gap: 10px ;
}

.section__galery:not:(:last-child) {
  row-gap: 10px ;
}

.section__galery-image{
  max-width: 100%;

}
 .footer {width: 100%;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end:10px;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  margin-block-start:40px ;
 }

 

 .footer__title {

  text-shadow: 2px 2px 0 var(--accent-color,#FF0070);
  margin-block-end: 0;
  margin-block-start: 0;
  align-self: center;

 }
